
/* Nombre: Oscar Alberto Muñoz Vanegas
Clan: Dell
Fecha: 06/04/2024 */


@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --orange-fos: rgb(236, 55, 0);
    --orange-fos_tr: rgb(236, 55, 0, 0.7);
    --mocca:rgb(221, 221, 155);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate SC", serif;
}

/* se importa fuentes e iconos y se establece paleta de colores */

.main{
    background-color: var(--mocca)
}



.encabezado {
    background-color: rgb(236, 55, 0);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: fixed;
    top: 0px;
    z-index: 100;
}

#titulo_encabezado{
    margin-left: 12px;
}

#icono_encabezado{
    margin-right: 1082px;
}

/* se le ingresa estilo al encabezado y a su contenido */


.nav{
    display:flex ;
    align-items: center;
    gap: 10px;
    margin-right: 18px;
    font-size: large;
}

.nav a{
    color: black;
    text-decoration: none;
}

.imagen_nav{
    width: 70px;
    height: px;
    display: flex;
    position: relative;
    right: 10px;
}

/* se configura barra de navegacion */


.marcas{
    position: relative;
    right: 50px;
}

.referencias{
    margin-top: 45px;
}

.logo_referencias{
    width: 150px;
    height: 130px;
    border-style: outset;
    border-radius: 200px;
    border-color: var(--orange-fos);
    margin-top: 32px;
    margin-bottom: 25px;
}
.logo_referencias_1{
    width: 190px;
    height: 100px;
    position: relative;
    bottom: 50px;
    border-style: outset;
    border-radius: 90px;
    border-color: var(--orange-fos);
}

.titulo_referencias{
    border-style:outset;
    border-radius: 500px;
    margin-top: 90px;
    margin-left: 808px;
    width: 250px;
    text-align: center;
    background-color: var(--orange-fos);
    border-color: var(--orange-fos);
    position: sticky;
    top: 10%;
    z-index: 1;
}

.marca_referencias{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

/* se le da estilo a la primera secion */ 

.marca_referencias_2{
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.titulo_referencias_2{
    border-style:outset;
    border-radius: 500px;
    margin-top: 140px;
    margin-left: 780px;
    width: 280px;
    text-align: center;
    background-color: var(--orange-fos);
    border-color: var(--orange-fos);
    position: sticky;
    top: 10%;
    z-index: 1;
}

.logo_referencias_2{
    width: 100px;
    height: 90px;
    border-style: outset;
    border-radius: 25px;
    border-color: var(--orange-fos);
    margin-top: 35px;
    margin-bottom: 30px;
    margin-right: 34px;
}

.logo_referencias_2-1{
    width: 122px;
    height: 37px;
    position: relative;
    bottom: 30px;
    border-style: outset;
    border-radius: 12px;
    border-color: var(--orange-fos);
    margin-top: 20px;
    margin-bottom: 30px;
}

/* le damos estilo con bordes, display y organizador de texto a la segunda seccion */

.imagen_body{
    width: 250px;
    height: 270px;
    border-style:double;
    border-color: var(--orange-fos);
    border-radius: 5px;
}

.boton{
    text-align: center;
    border: none;
    border-radius: 30px;
    background-color: var(--orange-fos);
    gap: 8px;
    width: 100px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
}

.boton a{
    color: black;
}

/* se configura boton de compra */

.items_body{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 25px;
}


.items_body2{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        margin-top: 25px;
}

/* se le da estilo a la seccion 1 y 2 de la page */

.contenedor_contacto{
    margin-top: 18px;
    margin-left: 780px;
    display: block;
    align-items: center;
    text-align: center;
    font-size: larger;
    border: none;
    border-width: 5px;
    background-color: var(--orange-fos_tr);
    padding: 10px;
    width: 300px;
    height: 310px;
}

.titulo_contacto{
    border-style:outset;
    border-radius: 500px;
    margin-top: 170px;
    margin-left: 796px;
    width: 260px;
    text-align: center;
    background-color: var(--orange-fos);
    border-color: var(--orange-fos);
    position: sticky;
    top: 10%;
    z-index: 1;
}

/* se le da estilo a la tercera seccion de la pagina  en la parte de contacto */

#titulo_somos{
    border-style:outset;
    border-radius: 500px;
    margin-top: 45px;
    margin-left: 776px;
    width: 310px;
    text-align: center;
    background-color: var(--orange-fos);
    border-color: var(--orange-fos);
    position: sticky;
    top: 10%;
    z-index: 1;
}

#parrafo_somos{
    margin-top: 18px;
    margin-left: 780px;
    display: block;
    align-items: center;
    text-align: center;
    font-size: larger;
    border: none;
    border-width: 5px;
    background-color: var(--orange-fos_tr);
    padding: 10px;
    width: 300px;
    height: 270px;
}

/* se agrega y se organiza con el respectivo estilo la parte de los datos de la tienda */

#titulo_ubicacion{
    border-style:outset;
    border-radius: 500px;
    margin-top: 45px;
    margin-left: 798px;
    position: relative;
    width: 255px;
    text-align: center;
    background-color: var(--orange-fos);
    border-color: var(--orange-fos);
    position: sticky;
    top: 10%;
    z-index: 1;
}

.direccion{
    margin-top: 22px;
    margin-left: 779px;
    display: block;
    align-items: center;
    text-align: center;
    font-size: larger;
    position: relative;
    border: none;
    border-width: 5px;
    background-color: var(--orange-fos_tr);
    padding: 10px;
    width: 300px;
    height: 418px;
}

#titulo_redes{
    border-style:outset;
    border-radius: 500px;
    margin-top: 45px;
    margin-left: 794px;
    position: relative;
    width: 255px;
    text-align: center;
    background-color: var(--orange-fos);
    border-color: var(--orange-fos);
    position: sticky;
    top: 10%;
    z-index: 1;
}

.icono_redes{
    margin-top: 18px;
    margin-left: 847px;
    margin-bottom: 18px;
    display: flex;
    gap: 10px;
    align-items:center;
    border-radius: 20px;
    border: none;
    background-color: var(--orange-fos_tr);
    padding: 10px;
    width: 150px;
}

.icono_redes a{
    color: black;
}

/* se organiza las redes con iconono y enlace y se termina con el pie de apgina */

.footer{
    background-color: var(--orange-fos);
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
