@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap')

:root{
    --orange-fos: rgb(236, 55, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate SC", serif;
}

.encabezado {
    background-color: rgb(236, 55, 0);
    width: 100%;
    height: 70px;
    display: flex;
}

.nav{
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen_nav{
    width: 90px;
    height: 70px;
}