@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --orange-fos: rgb(236, 55, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mate SC", serif;
}

.encabezado {
    background-color: rgb(236, 55, 0);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.nav{
    display:flex ;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.nav a{
    color: black;
}

.imagen_nav{
    width: 70px;
    height: px;
    display: flex;
    position: relative;
    right: 10px;
}

.marcas{
    position: relative;
    right: 40px;
}